@use '../../mixin.scss' as *;

section {
    @include dFlex();
    width: 100%;

    .about-me-wrapper {
        @include dFlex($jc: space-between, $ai: unset, $g: 80px);
        padding: 152px 80px;
        width: 100%;
        height: 100%;
        max-width: 1940px;

        .profile-picture-container {
            position: relative;
            height: 100%;
            display: flex;

            img {
                height: 100%;
                width: 100%;
                max-width: 568px;
                max-height: 568px;
                border-radius: 30px;
            }

            .bg-decor {
                height: 100%;
                width: 100%;
                max-height: 568px;
                max-width: 568px;
                z-index: 1;
            }

            .profile-picture {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                transition: transform 0.45s cubic-bezier(.22, 1, .36, 1);
                will-change: transform;

                &:hover {
                    transform: translate(36px, -36px);
                    content: url('/assets/img/about_me/profile_hover.jpg');
                }
            }
        }

        .profile-info-container {
            @include dFlex($ai: flex-start, $fd: column, $g: 20px);
            padding-top: 80px;
            @include font-karla($fs: 1.5rem, $c: var(--turquoise), $fw: 500);

            .profile-info {
                border: var(--turquoise) solid 1px;
                border-radius: 30px;
                background-color: var(--dark-green);
                padding: 36px;
                max-width: 568px;

                p {
                    @include font-karla($fs: 1.125rem, $c: var(--white));
                    padding-bottom: 20px;
                }

                div {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    gap: 20px;
                    align-items: flex-start;

                    img {
                        height: 32px;
                        width: 32px;
                        margin: 4px 0 0 -16px;
                    }

                    p {
                        color: var(--light-grey);

                        &:hover {
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px),
(pointer: coarse) {
    section {

        .about-me-wrapper {
            @include dFlex($fd: column, $jc: center, $ai: center, $g: 0px);
        }
    }
}

@media (max-width: 768px),
(pointer: coarse) {
    section {

        .about-me-wrapper {
            padding: 80px 24px;

            .profile-picture-container {

                .profile-picture {
                    &:hover {
                        transform: translate(16px, -16px);
                    }

                    &:active {
                        transform: translate(16px, -16px);
                        content: url('/assets/img/about_me/profile_hover.jpg');
                    }

                    &:focus {
                        transform: translate(16px, -16px);
                        content: url('/assets/img/about_me/profile_hover.jpg');
                    }
                }
            }

            .profile-info-container {
                @include font-karla($fs: 1.125rem, $c: var(--turquoise), $fw: 500);

                .profile-info {

                    p {
                        @include font-karla($fs: 1rem, $c: var(--white));
                    }
                }
            }
        }
    }
}

@media (max-width: 480px),
(pointer: coarse) {
    section {

        .about-me-wrapper {
            padding: 80px 16px;

            .profile-picture-container {

                .profile-picture {
                    &:hover {
                        transform: translate(8px, -8px);
                    }

                    &:active {
                        transform: translate(8px, -8px);
                        content: url('/assets/img/about_me/profile_hover.jpg');
                    }

                    &:focus {
                        transform: translate(8px, -8px);
                        content: url('/assets/img/about_me/profile_hover.jpg');
                    }
                }
            }
        }
    }
}