@use '../../mixin.scss' as *;

section {
    @include dFlex();
    background-color: var(--dark);
    width: 100%;
    height: 100%;

    .social-wrapper {
        @include dFlex($fd: column);
        max-width: 1940px;
        overflow: hidden;
        position: relative;

        h3 {
            @include font-fira-code($fs: 2rem, $fw: 700, $c: var(--turquoise));
            margin-bottom: 40px;
        }

        .comments-container {
            @include dFlex($g: 100px);
            overflow-y: visible;
            overflow-x: hidden;
            position: relative;
            height: 410px;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                background: linear-gradient(90deg,
                        rgba(0, 0, 0, 1) 0%,
                        transparent 30%,
                        transparent 80%,
                        rgba(0, 0, 0, 1) 100%);
                pointer-events: none;
                height: 300px;
                z-index: 1;
            }

            .comment {
                @include dFlex($jc: space-between, $ai: unset, $fd: column);
                border: 1px solid var(--turquoise);
                border-radius: 20px;
                padding: 20px;
                background-color: var(--dark-green);
                @include font-karla($fs: 1.125rem, $fw: 400, $c: var(--light-grey));
                width: 590px;
                height: 300px;
                flex-shrink: 0;
                position: relative;

                &.active::before {
                    content: url('/assets/img/social/quotes.svg');
                    position: absolute;
                    top: -10px;
                    left: -48px;
                    width: auto;
                    height: 64px;
                    z-index: 3;
                }
            }

            .active {
                background-color: var(--dark-green);
                @include font-karla($fs: 1.125rem, $fw: 400, $c: var(--white));
                scale: 1.1;
            }
        }

        .controls {
            @include dFlex($g: 24px);

            svg {
                cursor: pointer;
                transition: fill 0.3s ease;
                color: var(--white);

                &:hover {
                    color: var(--light-turquoise);
                    scale: 1.1;
                }
            }

            .dots {
                @include dFlex($g: 16px);

                .dot {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: var(--white);
                    cursor: pointer;
                    transition: background 0.3s ease, transform 0.3s ease;

                    &.active {
                        background: var(--light-turquoise);
                        transform: scale(1.2);
                    }

                    &:hover {
                        background: var(--turquoise);
                    }
                }
            }
        }

    }
}

// @view-transition {
//     navigation: auto;
// }

// nav {
//     view-transition-name: --persist-nav;
// }