@use '../../mixin.scss' as *;

section {
    @include dFlex();
    width: 100%;

    .social-wrapper {
        @include dFlex($fd: column);
        max-width: 1940px;
        overflow: hidden;
        position: relative;

        h3 {
            @include font-fira-code($fs: 2rem, $fw: 700, $c: var(--turquoise));
            margin-bottom: 40px;
        }

        .comments-container {
            @include dFlex($fd: column);
            width: 100%;
            overflow: hidden;
            position: relative;
            height: 410px;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                background: linear-gradient(90deg,
                        rgba(0, 0, 0, 0.8) 0%,
                        transparent 20%,
                        transparent 80%,
                        rgba(0, 0, 0, 0.8) 100%);
                pointer-events: none;
                height: 300px;
                z-index: 2;
            }

            &::after {
                content: url('/assets/img/social/quotes.svg');
                position: absolute;
                top: calc(50% - 174px);
                left: calc(50% - 326px);
                transform: translateX(-50%);
                width: auto;
                height: 64px;
                z-index: 3;
                pointer-events: none;
            }

            .comments-slider {
                display: flex;
                flex-direction: row;
                gap: 100px;
                transition: transform 0.35s cubic-bezier(0.77, 0, 0.175, 1);
                will-change: transform;

                &.no-transition {
                    transition: none !important;
                }

                .comment {
                    @include dFlex($jc: space-between, $ai: unset, $fd: column);
                    border: 1px solid var(--turquoise);
                    border-radius: 20px;
                    padding: 38px;
                    background-color: var(--dark-green);
                    @include font-karla($fs: 1.125rem, $fw: 400, $c: var(--light-grey));
                    width: 590px;
                    height: 300px;
                    flex-shrink: 0;
                    position: relative;
                    transform: scale(1);
                    transition: transform 0.25s ease;

                    p {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        margin: 0;
                    }

                    p::before {
                        content: "";
                        display: block;
                        flex: 1;
                        height: 1px;
                        background: var(--white);
                    }
                }
            }

            .comments-slider.animating .comment.active {
                transform: scale(1) !important;
            }

            .comments-slider .comment.active {
                transform: scale(1.1);
                background-color: var(--dark-green);
                @include font-karla($fs: 1.125rem, $fw: 400, $c: var(--white));
            }
        }

        .controls {
            @include dFlex($g: 24px);

            svg {
                cursor: pointer;
                transition: fill 0.3s ease;
                color: var(--white);

                &:hover {
                    color: var(--light-turquoise);
                    transform: scale(1.1);
                }
            }

            .dots {
                @include dFlex($g: 16px);

                .dot {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: var(--white);
                    transition: background 0.3s ease, transform 0.3s ease;

                    &.active {
                        background: var(--light-turquoise);
                        transform: scale(1.2);
                    }
                }
            }
        }

    }
}

@media (max-width: 1200px),
(pointer: coarse) {
    section {
        .social-wrapper {
            .comments-container {
                &::before {
                    content: '';
                    background: linear-gradient(90deg,
                            rgba(0, 0, 0, 0.8) 0%,
                            transparent 16%,
                            transparent 84%,
                            rgba(0, 0, 0, 0.8) 100%);
                }
            }
        }
    }
}

@media (max-width: 1024px),
(pointer: coarse) {
    section {
        .social-wrapper {
            .comments-container {
                &::before {
                    content: '';
                    background: linear-gradient(90deg,
                            rgba(0, 0, 0, 0.8) 0%,
                            transparent 8%,
                            transparent 92%,
                            rgba(0, 0, 0, 0.8) 100%);
                }

                .comments-slider {
                    gap: 80px;
                }
            }
        }
    }
}

@media (max-width: 890px),
(pointer: coarse) {
    section {
        .social-wrapper {
            .comments-container {
                &::before {
                    content: '';
                    background: linear-gradient(90deg,
                            rgba(0, 0, 0, 0.8) 0%,
                            transparent 6%,
                            transparent 94%,
                            rgba(0, 0, 0, 0.8) 100%);
                }

                .comments-slider {
                    gap: 60px;
                }
            }
        }
    }
}

@media (max-width: 768px),
(pointer: coarse) {
    section {
        .social-wrapper {
            h3 {
                @include font-fira-code($fs: 1.5rem, $fw: 700, $c: var(--turquoise));
                margin-bottom: 24px;
            }

            .comments-container {
                height: 520px;

                &::before {
                    content: '';
                    background: linear-gradient(90deg,
                            rgba(0, 0, 0, 0.8) 0%,
                            transparent 4%,
                            transparent 96%,
                            rgba(0, 0, 0, 0.8) 100%);
                    height: 436px;
                }

                &::after {
                    top: calc(50% - 240px);
                    left: calc(50% - 156px);
                }

                .comments-slider {
                    gap: 40px;

                    .comment {
                        @include font-karla($fs: 1rem, $fw: 400, $c: var(--light-grey));
                        padding: 52px 24px;
                        width: 360px;
                        height: 420px;
                    }
                }

                .comments-slider .comment.active {
                    @include font-karla($fs: 1rem, $fw: 400, $c: var(--white));
                }
            }

            .controls {
                padding-top: 24px;
            }
        }
    }
}

@media (max-width: 480px),
(pointer: coarse) {
    section {
        .social-wrapper {
            h3 {
                text-align: center;
                padding: 0 16px;
            }

            .comments-container {
                height: 620px;

                &::before {
                    content: '';
                    background: linear-gradient(90deg,
                            rgba(0, 0, 0, 0.8) 0%,
                            transparent 4%,
                            transparent 96%,
                            rgba(0, 0, 0, 0.8) 100%);
                    height: 520px;
                }

                &::after {
                    top: calc(50% - 295px);
                    left: calc(50% - 88px);
                }

                .comments-slider {
                    gap: 24px;

                    .comment {
                        padding: 52px 16px 36px 16px;
                        width: 236px;
                        height: 520px;
                    }
                }
            }

            .controls {
                padding-top: 12px;
            }
        }
    }
}