@use '../../mixin.scss' as *;

section {
    @include dFlex();
    background: radial-gradient(ellipse at left center, var(--dark-green) 36%, var(--dark) 69%);
    width: 100%;
    @include font-karla(var(--white));

    .skill-set-wrapper {
        @include dFlex($jc: space-between, $ai: unset);
        padding: 24px 80px 128px 80px;
        width: 100%;
        height: 100%;
        max-width: 1940px;
        gap: 80px;

        .text-container {
            @include dFlex($fd: column, $ai: unset, $g: 20px);
            max-width: 568px;

            >h4 {
                @include font-karla($fs: 1.5rem, $fw: 700, $c: var(--turquoise));
            }

            .skill-set {
                border: var(--turquoise) solid 1px;
                border-radius: 30px;
                background-color: var(--dark-green);
                padding: 36px;
                width: 100%;
                height: 100%;

                p {
                    @include font-karla($fs: 1.125rem, $fw: 400, $c: var(--light-grey));

                    &:hover {
                        color: var(--white);
                    }
                }

                h4 {
                    @include font-fira-code($fs: 1.5rem, $fw: 700, $c: var(--white));
                    margin: 32px 0 16px;
                }

                .turquoise {
                    color: var(--turquoise);
                }

                .btn {
                    margin-top: 40px;
                    width: auto;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .icons-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 64px;
            align-items: start;
            padding-top: 48px;

            .skill-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;

                img {
                    width: 60px;
                    height: 60px;

                    &:hover {
                        transform: scale(1.1);
                        transition: transform 0.3s ease-in-out;
                    }
                }

                p {
                    @include font-fira-code($fs: 1.125rem, $fw: 400, $c: var(--white));
                    margin: 0;
                    text-align: center;
                }
            }

            .special-hover {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 8px;

                &:hover {

                    .gm-icon {
                        transform: scale(1.1);
                        transition: transform 0.3s ease-in-out;
                    }

                    p {
                        color: var(--turquoise) !important;
                    }

                    .interest-skills {
                        opacity: 1;
                        transition: opacity 0.3s ease-in-out;
                    }
                }

                .interest-skills {
                    position: absolute;
                    top: -106px;
                    left: 0;
                    width: 188px;
                    height: 129px;
                    opacity: 0;
                }
            }
        }
    }
}

@keyframes scroll-text-button {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-150%);
    }

    50.01% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 1480px),
(pointer: coarse) {
    section {
        .skill-set-wrapper {
            .icons-container {
                grid-template-columns: repeat(3, 1fr);
                gap: 48px;
            }
        }
    }
}

@media (max-width: 1240px),
(pointer: coarse) {
    section {
        .skill-set-wrapper {
            gap: 24px;

            .icons-container {
                grid-template-columns: repeat(3, 1fr);
                gap: 12px;
            }
        }
    }
}

@media (max-width: 1024px),
(pointer: coarse) {
    section {
        .skill-set-wrapper {
            @include dFlex($jc: unset, $fd: column);
            gap: 80px;

            .text-container {
                .skill-set {
                    a {
                        border-color: var(--turquoise);
                    }
                }
            }

            .icons-container {
                display: flex;
                flex-wrap: wrap;
                align-items: start;
                gap: 0;
                padding-top: 0;

                .skill-item {
                    flex-basis: 33.333%;
                    max-width: 33.333%;
                    margin-bottom: 32px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        -webkit-animation: pulse 2s infinite ease-in-out;
                        animation: pulse 2s infinite ease-in-out;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        will-change: transform, opacity;
                    }

                    &:nth-child(1) img {
                        animation-delay: 0s;
                    }

                    &:nth-child(2) img {
                        animation-delay: 0.1s;
                    }

                    &:nth-child(3) img {
                        animation-delay: 0.2s;
                    }

                    &:nth-child(4) img {
                        animation-delay: 0.3s;
                    }

                    &:nth-child(5) img {
                        animation-delay: 0.4s;
                    }

                    &:nth-child(6) img {
                        animation-delay: 0.5s;
                    }

                    &:nth-child(7) img {
                        animation-delay: 0.6s;
                    }

                    &:nth-child(8) img {
                        animation-delay: 0.7s;
                    }

                    &:nth-child(9) img {
                        animation-delay: 0.8s;
                    }

                    &:nth-child(10) img {
                        animation-delay: 0.9s;
                    }

                    &:nth-child(11) img {
                        animation-delay: 1.0s;
                    }

                    &:nth-child(12) img {
                        animation-delay: 1.1s;
                    }
                }

                .special-hover {
                    flex-basis: 33.333%;
                    max-width: 33.333%;
                    margin-bottom: 32px;

                    .gm-icon {
                        -webkit-animation: pulse 2s infinite ease-in-out;
                        animation: pulse 2s infinite ease-in-out;
                        -webkit-animation-delay: 1.2s;
                        animation-delay: 1.2s;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        will-change: transform, opacity;
                    }
                }
            }
        }
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0.8;
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0.8;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0.8;
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0.8;
    }
}

@media (max-width: 768px),
(pointer: coarse) {
    section {
        .skill-set-wrapper {
            padding: 24px 24px 56px 24px;

            .text-container {
                .skill-set {
                    p {
                        @include font-karla($fs: 1rem, $fw: 400, $c: var(--light-grey));
                    }

                    h4 {
                        margin: 16px 0 8px;
                    }
                }
            }

            .icons-container {
                .skill-item {

                    p {
                        @include font-fira-code($fs: 1rem, $fw: 400, $c: var(--white));
                    }
                }
            }
        }
    }
}

@media (max-width: 480px),
(pointer: coarse) {
    section {
        .skill-set-wrapper {
            padding: 24px 16px 56px 16px;
        }
    }
}

@media (max-width: 380px),
(pointer: coarse) {
    section {
        .skill-set-wrapper {
            .text-container {
                .skill-set {
                    padding: 16px;

                    p {
                        hyphens: auto;
                        word-break: break-word;
                        -webkit-hyphens: auto;
                        -moz-hyphens: auto;
                        -ms-hyphens: auto;
                    }

                    h4 {
                        hyphens: auto;
                        word-break: break-word;
                        -webkit-hyphens: auto;
                        -moz-hyphens: auto;
                        -ms-hyphens: auto;
                    }

                    a {
                        width: 100% !important;

                        span {
                            animation: scroll-text-button-mobile 3s linear infinite;
                        }
                    }
                }
            }
        }
    }

}

@keyframes scroll-text-button-mobile {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-300%);
    }

    50.01% {
        transform: translateX(300%);
    }

    100% {
        transform: translateX(0);
    }
}