@use '../../../mixin.scss' as *;

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(1296px, 90%);
    max-width: 1296px;
    background: linear-gradient(45deg, var(--dark) 36%, var(--dark-green) 69%);
    border-radius: 40px;
    border: 1px solid var(--turquoise);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.6);
    z-index: 1001;

    &::backdrop {
        background: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
    }

    .close-x {
        position: absolute;
        top: 80px;
        right: 80px;
        color: var(--white);
        z-index: 1002;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            color: var(--turquoise);
            transform: scale(1.3);
        }
    }

    .content {
        position: relative;
        @include dFlex($g: 40px);
        padding: 80px;

        .text {
            @include dFlex($fd: column, $ai: unset);

            .id {
                @include font-karla($fs: 8rem, $fw: 700, $c: var(--turquoise));
            }

            h3 {
                @include font-fira-code($fs: 4rem, $fw: 700, $c: var(--white));
                margin-bottom: 12px;
                margin-block-start: 0em;
                margin-block-end: 0em;
            }

            h4 {
                @include font-fira-code($fs: 1.5rem, $fw: 700, $c: var(--turquoise));
                margin-bottom: 12px;
            }

            p {
                @include font-karla($fs: 1.125rem, $fw: 400, $c: var(--white));
                margin-bottom: 16px;
            }

            .icon-container {
                @include dFlex($jc: flex-start, $g: 12px);
                flex-wrap: wrap;
                padding-bottom: 24px;

                .skill-item {
                    @include dFlex($g: 4px);

                    img {
                        width: 24px;
                        height: 24px;
                        border-radius: 0;
                    }

                    div {
                        @include font-karla($fs: 1rem, $fw: 400, $c: var(--white));
                    }
                }
            }

            .button-container {
                @include dFlex($jc: flex-start, $g: 32px);

                a {
                    border: 1px solid var(--white);
                    border-radius: 24px;
                    padding: 12px 24px;
                    display: inline-flex;
                    gap: 4px;

                    svg {
                        display: inline-block;
                        transition: transform 0.45s cubic-bezier(.22, 1, .36, 1);
                        transform-box: fill-box;
                        transform-origin: center;
                    }

                    &:hover {
                        border-color: var(--turquoise);
                        color: var(--turquoise);

                        svg {
                            transform: translate(4px, -2px);
                        }
                    }
                }
            }
        }

        img {
            max-width: 520px;
            max-height: 346px;
            width: 100%;
            height: 100%;
            border-radius: 16px;
        }
    }

    .next-project {
        position: absolute;
        bottom: 80px;
        right: 80px;
        @include dFlex($g: 8px);
        z-index: 1002;
        cursor: pointer;
        transition: all 0.3s ease;


        svg {
            display: inline-block;
            transition: transform 0.45s cubic-bezier(.22, 1, .36, 1);
            transform-box: fill-box;
            transform-origin: center;
            color: var(--turquoise);
        }

        &:hover {
            span {
                color: var(--white);
            }

            svg {
                color: var(--light-turquoise);
                transform: translate(6px, 0px) scale(1.2);
            }
        }

        span {
            @include font-karla($fs: 1.125rem, $fw: 400, $c: var(--turquoise));
        }
    }
}

@media (max-width: 1200px),
(pointer: coarse) {
    dialog {
        .close-x {
            position: absolute;
            top: 40px;
            right: 40px;
        }

        .content {
            padding: 40px;

            img {
                max-width: 400px;
                height: auto;
            }
        }
    }
}

@media (max-width: 1024px),
(pointer: coarse) {
    dialog {
        .close-x {
            position: absolute;
            top: 40px;
            right: 40px;
        }

        .content {
            @include dFlex($fd: column-reverse, $ai: center);
            padding: 80px 40px;

            .text {
                .id {
                    @include font-karla($fs: 4.5rem, $fw: 700, $c: var(--turquoise));
                    padding-top: 16px;
                }

                h3 {
                    @include font-fira-code($fs: 3.5rem, $fw: 700, $c: var(--white));
                    margin-bottom: 8px;
                }

                h4 {
                    @include font-fira-code($fs: 1.25rem, $fw: 700, $c: var(--turquoise));
                    margin-bottom: 8px;
                }

                .button-container {
                    @include dFlex($jc: space-evenly);
                    padding-bottom: 24px;
                }
            }

            img {
                max-width: 400px;
            }
        }

        .next-project {
            bottom: 40px;
            right: 40px;
        }
    }
}

@media (max-width: 768px),
(pointer: coarse) {
    dialog {
        max-width: 96%;
        max-height: fit-content;
        width: 96%;
        height: 99dvh;

        .content {
            height: 100%;
            padding: 80px 24px;

            .text {
                .button-container {
                    padding-bottom: 20px;
                }

                p {
                    @include font-karla($fs: 1rem, $fw: 400, $c: var(--white));
                }
            }
        }
    }
}

@media (max-width: 480px),
(pointer: coarse) {
    dialog {
        .content {
            padding: 80px 16px;

            .text {
                h3 {
                    @include font-fira-code($fs: 2.5rem, $fw: 700, $c: var(--white));
                }
            }
        }
    }
}

@media (max-width: 380px) {
    dialog {
        width: 98%;
        max-width: 98%;

        .close-x {
            top: 16px;
            right: 16px;
        }

        .content {
            padding: 36px 12px 36px 12px;

            .text {
                .id {
                    @include font-karla($fs: 2.5rem, $fw: 700, $c: var(--turquoise));
                }

                h3 {
                    @include font-fira-code($fs: 1.5rem, $fw: 700, $c: var(--white));
                }
            }

            img {
                max-height: 180px;
            }
        }

        .next-project {
            bottom: 16px;
            right: 16px;
        }
    }
}