@use '../../mixin.scss' as *;

section {
    min-height: calc(100vh - 220px);
    width: 100%;
    background: linear-gradient(45deg, var(--dark) 36%, var(--dark-green) 69%);
    @include dFlex($fd: column);

    .legal-notice-wrapper {
        @include dFlex($fd: column);
        padding: 160px 80px 0 80px;
        max-width: 1940px;

        .arrow {
            display: none;
            width: 32px;
            height: 32px;

            &:hover {
                color: var(--turquoise);
            }
        }

        .legal-notice-content {
            @include dFlex($fd: column, $ai: flex-start);
            padding: 0px 80px 0 80px;

            h3 {
                @include font-karla($fs: 1.25rem, $fw: 700, $c: var(--white));
            }

            ul {
                @include font-karla($fs: 1rem, $fw: 400, $c: var(--turquoise));
                padding: 24px;
            }

            p {
                @include font-karla($fs: 1rem, $fw: 400, $c: var(--turquoise));
                padding-bottom: 24px;
            }

            a {
                color: var(--white);
                transition: all 0.3s ease;

                &:hover {
                    color: var(--turquoise);
                    text-shadow: 0 0 10px var(--turquoise), 0 0 20px var(--turquoise);
                }
            }

            span {
                color: var(--white);
            }

            h4 {
                @include font-karla($fs: 1.12rem, $fw: 600, $c: var(--dark-turquoise));
            }
        }
    }
}

@media (max-width: 1024px) {
    section {
        .arrow {
            display: flex !important;
        }

        .legal-notice-wrapper {
            align-items: unset;
            padding: 120px 80px 0 80px;

            .legal-notice-content {
                padding: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    section {
        .legal-notice-wrapper {
            padding: 100px 24px 0 24px;
        }
    }
}

@media (max-width: 480px) {
    section {
        .legal-notice-wrapper {
            padding: 100px 16px 0 16px;
        }
    }
}