@use '../../mixin.scss' as *;

section {
    @include dFlex();
    width: 100%;
    @include font-karla(var(--white));

    .featured-projects-wrapper {
        @include dFlex($jc: unset, $fd: column, $ai: unset);
        padding: 0 80px 152px 80px;
        width: 100%;
        height: 100%;
        max-width: 1940px;

        p {
            @include font-karla($fs: 1.5rem, $fw: 400, $c: var(--turquoise));
        }

        span {
            max-width: 456px;
            @include font-karla($fs: 1.125rem, $fw: 400);
            padding-bottom: 34px;
        }

        .block {
            @include dFlex($jc: space-between, $ai: center);
            width: 100%;
            height: 100%;

            &:hover {
                cursor: pointer;

                .block-left {
                    h3:after {
                        content: '';
                        display: inline-block;
                        width: 13px;
                        height: 13px;
                        margin-left: 8px;
                        background-image: url('./../../assets/img/featured_projects/arrow_outward.svg');
                        background-size: 13px 13px;
                        background-repeat: no-repeat;
                        background-position: center;
                        vertical-align: middle;
                    }

                    background-color: var(--dark-green);
                }

                .block-right img {
                    opacity: 1;
                }
            }

            .block-left {
                @include dFlex($jc: space-between);
                border-top: var(--turquoise) solid 1px;
                width: 70%;
                padding: 40px 32px 40px 32px;

                h3 {
                    @include font-fira-code($fs: 1.5rem, $fw: 700, $c: var(--white));
                }

                .work-sets {
                    @include font-karla($fs: 1.125rem);

                    span {
                        color: var(--turquoise);
                    }
                }
            }

            .block-right {
                position: relative;
                width: 20%;
                height: auto;

                img {
                    position: absolute;
                    top: -96px;
                    right: 0;
                    opacity: 0;
                    width: 296px;
                    height: 192px;
                    border-radius: 16px;

                    &:nth-child(2) {
                        z-index: 1;

                        &:hover {
                            top: -112px;
                            right: 16px;
                        }
                    }
                }
            }

            &:last-child {
                .block-left {
                    border-bottom: var(--turquoise) solid 1px;
                }
            }
        }
    }
}

@media (max-width: 1180px),
(pointer: coarse) {
    section {

        .featured-projects-wrapper {

            .block {

                .block-left {
                    width: 100%;
                }

                .block-right {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 768px),
(pointer: coarse) {
    section {

        .featured-projects-wrapper {
            padding: 0 24px 80px 24px;

            p {
                @include font-karla($fs: 1.125rem, $fw: 700, $c: var(--turquoise));
            }

            span {
                @include font-karla($fs: 1rem);
            }

            .block {
                .block-left {
                    @include dFlex($fd: column, $ai: flex-start, $g: 16px);
                    padding: 28px 0 28px 0;
                }
            }
        }
    }
}

@media (max-width: 480px),
(pointer: coarse) {
    section {

        .featured-projects-wrapper {
            padding: 0 16px 80px 16px;
        }
    }
}