@use '../../../mixin.scss' as *;

footer {
    @include dFlex();
    width: 100%;
    @include font-karla(var(--white));

    .footer-wrapper {
        @include dFlex($jc: space-between);
        padding: 40px 80px 40px 80px;
        width: 100%;
        height: 100%;
        max-width: 1940px;

        div {
            img {
                width: auto;
                height: 80px;
                filter: brightness(1.05);
                margin-left: -18px;

                &:hover {
                    cursor: pointer;
                    filter: invert(1) hue-rotate(180deg) saturate(2) brightness(1.05);
                    transform: scale(1.05);
                }
            }

            p {
                @include font-karla($c: var(--white));
                margin-bottom: 8px;
            }
        }

        p {
            @include font-fira-code($fs: 1.125rem, $fw: 400, $c: var(--turquoise));
        }

        .footer-nav {
            @include dFlex($fd: column, $ai: flex-start, $g: 8px);


            a {
                position: relative;

                &:hover {
                    color: var(--turquoise) !important;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        background-color: var(--turquoise);
                        border-radius: 50%;
                        top: 50%;
                        left: -10px;
                        transform: translateY(-50%) rotate(-180deg);
                        box-shadow: 0 0 6px var(--turquoise);
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    footer {
        .footer-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 24px;
            padding: 24px 80px;

            div {
                grid-column: 1;
                grid-row: 1;
                justify-self: start;

                p {
                    margin-bottom: 0;
                }
            }

            .footer-nav {
                grid-column: 2;
                grid-row: 1;
                justify-self: end;
                height: 100%;
                @include dFlex($fd: column, $ai: unset, $jc: flex-end, $g: 8px);
            }

            >p {
                grid-column: 1 / -1;
                grid-row: 2;
                justify-self: center;
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px) {
    footer {
        .footer-wrapper {
            padding: 16px 24px;
        }
    }
}

@media (max-width: 480px) {
    footer {
        .footer-wrapper {
            padding: 16px 16px;
        }
    }
}